<h3>APix Home Page (Visitor)</h3>
<hr>
<h4>Sample Kaltura Embed</h4>
<script src="http://cdnapi.kaltura.com/p/2236271/sp/223627100/embedIframeJs/uiconf_id/37871971/partner_id/2236271?autoembed=true&entry_id=0_kgdaya33&playerId=kaltura_player_1485531138&cache_st=1485531138&width=400&height=285"></script>
<br>
<hr>
<h4>Sample Youtube Embed</h4>
<iframe width="400" height="285" src="https://www.youtube.com/embed/sC9abcLLQpI" frameborder="0" allowfullscreen></iframe>
